Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace


Content/Maps/*

Content/Assets/Prop
Content/Assets/SafeZone
Content/Assets/UI
Content/Assets/Vehicle
Content/Assets/Weapons



